$background-color: #fff;


body {
  background-color: $background-color;
  margin: 0;
}

.full-size {
  height: 100%;
  width: 100%;
}

.slide {
  display: none;
  height: 100%;
  flex-direction: column;
  align-items: center;
}

.slide--active {
  display: flex;
}
